<div class='container text-center' >
    <img src="/assets/barangay-logo.png" style="position: relative; top: 50%; transform: translateY(0%);" class="mx-auto d-block" width='60%'>
    <div class="d-grid gap-2 col-4 mx-auto">
        <%= link_to "BARANGAY PEQUEÃ",barangays_path, class:"btn btn-sm shadow-sm", style:"background-color:#6f42c1; color:#fff;" %>
    </div>
</div>
<% if notice %>
  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= image_tag('check-circle (1).svg', class:"mx-auto d-block mt-3") %>
          <p class="text-center text-success"><%= notice %></p>
        </div>
      </div>
    </div>
  </div>
 <% elsif notice = "Device not found please check port connections!" %>
   <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <%= image_tag('alert-triangle (2).svg', class:"mx-auto d-block mt-3") %>
          <p class="text-center text-danger"><%= notice %></p>
          <p class="text-center">here <%= link_to 'Settings', settings_path %></p>
        </div>
      </div>
    </div>
  </div>
<%end%>