<%= form_with(model: barangay) do |form| %>
  <% if barangay.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(barangay.errors.count, "error") %> prohibited this barangay from being saved:</h2>

      <ul>
        <% barangay.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><%= image_tag('user.svg') %></span>
    <%= form.text_field :fullname, class:"form-control text-capitalize", placeholder:"Name of person" %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><%= image_tag('phone.svg') %></span>
    <%= form.text_field :number, class:"form-control", placeholder:"Phone Number" %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><%= image_tag('map-pin.svg') %></span>
    <%= form.text_field :address, class:"form-control text-capitalize", placeholder:"Address" %>
  </div>

  <div class="row">
    <div class="row-12">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Gender:</label>
        <br />
        <label class="form-check-label" for="inlineRadio1"></label>
        <div class="form-check form-check-inline">
          <%= form.number_field :gender, class:"form-check-input", id:"gender", type:"radio", value:"Male" %>
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <%= form.number_field :gender, class:"form-check-input", id:"gender", type:"radio", value:"Female" %>
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>
    </div>
    <div class="row-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Status:</label>
        <br />
        <label class="form-check-label" for="inlineRadio1"></label>
        <div class="form-check form-check-inline">
          <%= form.number_field :status, class:"form-check-input", id:"gender", type:"radio", value:"1" %>
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <%= form.number_field :status, class:"form-check-input", id:"gender", type:"radio", value:"0" %>
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= form.submit 'Add new barangay', class:"btn btn-sm shadow-sm", style:'background-color:#6f42c1;color:#ffffff;' %>
  </div>

</div>

<% end %>
