<div class="container-sm mt-4 shadow rounded-2" style="background-color:#51308d; color:#ffffff; height:39rem">
  <div class="container p-3">
    <div class="row">
      
      <div class="col-3 border-2 border-end border-secondary" style="height:37rem;">
        <div class="row">
          <div class="col-12">
            <%= link_to root_path do %>
              <img src="/assets/barangay-low-resolution-logo-white-on-transparent-background.png" width="150rem" class="rounded mx-auto d-block img-fluid" alt="barangay logo">
            <% end %>
          </div>
          <div class="col-12 mt-5">
            <div class="text-center border-bottom mb-2">
              <small>
              <%= current_user.email %>
              </small>
            </div>
            <div class=" myscroll" style="height:26rem;">
              <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 250px;">
                <ul class="nav nav-pills flex-column mb-auto">
                  <li>
                    <%= link_to barangays_path, title:"Contact list", class:"nav-link active" do %>
                      <%= image_tag('book.svg') %> Contact list
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_barangay_path, title:"Create new contact", class:"nav-link" do %>
                      <%= image_tag('user-plus.svg') %> Add new contact
                    <% end %>
                  </li>
                  <li>
                    <%= link_to barangay_calls_path, title:"Call list", class:"nav-link" do %>
                      <%= image_tag('phone-outgoing.svg') %> Calls
                      <span class="badge bg-cutsom rounded-pill float-end"><%= @calls %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_barangay_call_path, title:"Make a call", class:"nav-link" do %>
                      <%= image_tag('phone-outgoing.svg') %> Make a call
                    <% end %>
                  </li>
                  <li>
                    <%= link_to chats_path, title:"Messages", class:"nav-link" do %>
                      <%= image_tag('mail.svg') %> Messages
                      <span class="badge bg-cutsom rounded-pill float-end"><%= @inbox %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_chat_path, title:"New Message", class:"nav-link" do %>
                      <%= image_tag('edit-3.svg') %> New message
                    <% end %>
                  </li>
                </ul>
              </div> 
              <ul class="list-group mt-2">
                <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @maledis %>">
                      Male <span class="badge bg-cutsom rounded-pill"><%= @male %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @femaledis %>">
                      Female <span class="badge bg-cutsom rounded-pill"><%= @female %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @totaldis %>">
                      Total <span class="badge bg-cutsom rounded-pill"><%= @total %></span>
                    </li>
              </ul>
              <div class="mt-2">
                <% if user_signed_in? %>
                  <div class="btn-group" style="width:100%;" role="group" aria-label="Button group with nested dropdown">
                    <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-primary btn-sm btn-secondary" do %>
                      <%= image_tag('log-in.svg') %> Logout
                    <% end %>

                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-sm dropdown-toggle" style="background-color:#6f42c1;color:#ffffff;" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= image_tag('settings.svg') %>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="btnGroupDrop1">
                        <li>
                          <%= link_to settings_path, class:"dropdown-item text-center" do %>
                            User Settings
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if notice %>
        <div id="myModal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag('check-circle (1).svg', class:"mx-auto d-block mt-3") %>
                <p class="text-center text-success"><%= notice %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <div class="col-9 pb-3">
        <h1>First barangays</h1>
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  <%= link_to barangays_path, title:"Back to the list", class:"shadow btn btn-outline-secondary btn-sm" do %>
                    <%= image_tag('arrow-left.svg') %>
                  <% end %>
                  <%= link_to edit_barangay_path(@barangay) , title:"Edit", class:"shadow btn btn-outline-secondary btn-sm" do %>
                    <%= image_tag('edit-2.svg') %> 
                  <% end %>
                </div>
                <div class="col-6">
                  <div class="dropdown d-md-flex justify-content-md-end">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <%= button_to @barangay, method: :delete, class:"btn btn-outline-light dropdown-item text-start", title:"Delete" do %>
                          <%= image_tag('trash.svg') {:class=>""} %> <small>Remove</small>
                        <%end%>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="first_barangays" class="text-decoration-none">
                <%= render @barangay %>
                <div class="container">
                <%= form_with(model: chat, method: :post) do |form| %>
                  
                    <div class="input-group mb-3 visually-hidden">
                      <%= form.label :name_chat, class:"input-group-text", style: "display: block" do %><%= image_tag('user (1).svg') %><% end %>
                      <%= form.text_field :name_chat, class:"form-control text-capitalize", placeholder:"Name of person", value:@barangay.fullname %>
                    </div>

                    <div class="input-group mb-3 visually-hidden">
                      <%= form.label :phone_number, class:"input-group-text", style: "display: block" do %><%= image_tag('phone (1).svg') %><% end %>
                      <%= form.text_field :phone_number, class:"form-control text-capitalize", placeholder:"Number", value:@barangay.number %>
                    </div>

                    <div class="container mt-3">
                      <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                          <%= form.text_area :body, class:"form-control textarea", id:"summary", maxlength:"200", placeholder:"Type Here...", onkeyup:"validate()" %>
                        </div>
                        <div class="d-flex justify-content-end">
                          <%= form.label :body, style: "display: block, font-size:10px;", class:"d-none mt-3 text-muted fst-italic", id:"words_count" do %>
                            200 / <span id="textcount"></span>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                    <%= form.submit 'Send Message', class:"btn btn-sm shadow", style:"background-color:#6f42c1; color:#fff;; width:8rem;" %>
                <% end %>
                <%= form_with(model: barangay_call, method: :post) do |form| %>
                  <%= form.submit 'Call', class:"btn btn-sm shadow", style:"background-color:#166115; color:#fff; width:8rem;" %>
                  <div class="visually-hidden">
                    <%= form.text_field :name_call,value:@barangay.fullname %>
                    <%= form.text_field :phone_number,value:@barangay.number %>
                  </div>
                <%end%>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
