<div class="container-sm mt-4 shadow rounded-2" style="background-color:#51308d; color:#ffffff; height:39rem">
  <div class="container p-3">
    <div class="row">
      
      <div class="col-3 border-2 border-end border-secondary" style="height:37rem;">
        <div class="row">
          <div class="col-12">
            <%= link_to root_path do %>
              <img src="/assets/barangay-low-resolution-logo-white-on-transparent-background.png" width="150rem" class="rounded mx-auto d-block img-fluid" alt="barangay logo">
            <% end %>
          </div>
          <div class="col-12 mt-5">
            <div class="text-center border-bottom mb-2">
              <small>
              <%= current_user.email %>
              </small>
            </div>
            <div class=" myscroll" style="height:26rem;">
              <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 250px;">
                <ul class="nav nav-pills flex-column mb-auto">
                  <li>
                    <%= link_to barangays_path, title:"Contact list", class:"nav-link" do %>
                      <%= image_tag('book.svg') %> Contact list
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_barangay_path, title:"Create new contact", class:"nav-link" do %>
                      <%= image_tag('user-plus.svg') %> Add new contact
                    <% end %>
                  </li>
                  <li>
                    <%= link_to barangay_calls_path, title:"Call list", class:"nav-link" do %>
                      <%= image_tag('phone-outgoing.svg') %> Calls
                      <span class="badge bg-cutsom rounded-pill float-end"><%= @calls %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_barangay_call_path, title:"Make a call", class:"nav-link" do %>
                      <%= image_tag('phone-outgoing.svg') %> Make a call
                    <% end %>
                  </li>
                  <li>
                    <%= link_to chats_path, title:"Messages", class:"nav-link" do %>
                      <%= image_tag('mail.svg') %> Messages
                      <span class="badge bg-cutsom rounded-pill float-end"><%= @inbox %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_chat_path, title:"New Message", class:"nav-link" do %>
                      <%= image_tag('edit-3.svg') %> New message
                    <% end %>
                  </li>
                </ul>
              </div> 
              <ul class="list-group mt-2">
                <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @maledis %>">
                      Male <span class="badge bg-cutsom rounded-pill"><%= @male %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @femaledis %>">
                      Female <span class="badge bg-cutsom rounded-pill"><%= @female %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center sidemenu text-muted <%= @totaldis %>">
                      Total <span class="badge bg-cutsom rounded-pill"><%= @total %></span>
                    </li>
              </ul>
              <div class="mt-2">
                <% if user_signed_in? %>
                  <div class="btn-group" style="width:100%;" role="group" aria-label="Button group with nested dropdown">
                    <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-primary btn-sm btn-secondary" do %>
                      <%= image_tag('log-in.svg') %> Logout
                    <% end %>

                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-sm dropdown-toggle" style="background-color:#6f42c1;color:#ffffff;" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= image_tag('settings.svg') %>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="btnGroupDrop1">
                        <li>
                          <%= link_to settings_path, class:"dropdown-item text-center" do %>
                            User Settings
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if notice %>
        <div id="myModal" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <%= image_tag('check-circle (1).svg', class:"mx-auto d-block mt-3") %>
                <p class="text-center text-success"><%= notice %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <div class="col-9 pb-3">
        <h1>User Setting</h1>
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-12 d-grid gap-4 d-md-block">
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <%= link_to barangays_path, title:"Barangay list", class:"shadow shadow btn btn-outline-secondary btn-sm" do %>
                              <%= image_tag('arrow-left.svg') %>
                            <% end %>
                          </li>
                          <li class="nav-item">
                            <%= link_to "Back to settings", settings_path, class:"nav-link active" %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            
            <div class="card-body" style="background-color: #51308d;">
              <div id="chats" class="text-decoration-none">
                <div class=" myscroll" style="height:26rem;">
                  <%= render "form", setting: @setting %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
